body {
    margin: 30px;
}

.container {
    width: 600px;
    border: 5px solid goldenrod;
    margin: auto;

    /* membuat posisi container naik 1 dimensi agar memiliki dimensi yg sama dengan kotak 2 */
    position: relative;
}

.container div {
    margin: auto;
}

.satu {
    width: 200px;
    height: 200px;
    background-color: salmon;
}

.dua {
    width: 200px;
    height: 200px;
    background-color: skyblue;

    /* kotak dua akan naik 1 dimensi, ruang yg sebelumnya ditempati kotak tersebut, dianggap tidak ada dan akan diisi oleh kotak bawahnya. kotak dua dapat bergeser kemana pun relatif dengan parent terdekatnya selama element parent nya memiliki posisi yg non-static juga. artinya, ketika top dan leftnya 0 posisi kotak berada di pojok kiri atas pada parentnya dan parent tersebut harus diberi posisi relative agar memiliki dimendi yg smaa dengan kotak 2, jika tidak maka kotak 2 akan relatif terhadap body.*/
    position: absolute;
    top: 0px;
    left: 0px;
}

.tiga {
    width: 200px;
    height: 200px;
    background-color: limegreen;
}